body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #16076d;
    overflow-x: hidden ;
  }

  .container {
    width: 80%;
    height: 5em;
    padding: 3px;
    margin: auto;
    overflow: hidden;
  }

  #header-icon{
    height: 100px ;
    width: 150px ;
  } 

  #header {
    z-index: 1000;
    position: sticky;
    top: 0px;
    background-color: rgba(10, 8, 10, 0.4);    
    color: #ffffff;
    padding: 15px;
    height: 5em;
    width: 100%;
    min-height: 50px;
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header .highlight,
  header .current a {
    color: #47daa99a;
    font-weight: bold;
  }
  
  header a:hover {
    color: #b4a04d;
    font-weight: bold;
    border-bottom: 2px solid #b4a04d;
  }
  
  header a:active {
    color: #b4a04d;
    background-color: none;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  .nav-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  #showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7em;
    background-image: url('/Images/download.jpeg'); 
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 30em;
    width: 100%; 
    color: white;
    padding: 10px;
      }  