body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

#adminbody{
    background-color: #82a7f6;
    margin: 0;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */

}
#admin-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #1d5de8; */

}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul{
    margin: 0;
    padding: 0;
}

#header-icon{
    height: 50px;
    width: 50px; ;
 
}

.button-1{
    height: 38px;
    background: #47daa99a;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    cursor: pointer ;

}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #1d5de8 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
 
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
} 

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #47daa99a;
    font-weight: bold;
}

header a:hover{
    color: #8498db;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background: url('/Images/images.jpeg') no-repeat;
    background-color: rgb(71, 167, 188);
    /* background: linear-gradient(rgb(125, 142, 127), rgb(59, 223, 65), rgb(0, 255, 238)); */
    text-align: center;
    color: #ffffff;   
}
#showcase h1{
    margin: 100px 10px;
    font-size: 20px;
}
#showcase p{
    font-size: 20px;
}

/* Contact */
#contact{
    border: 3px solid #1d5de8;
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
#contact h1{
    float: left;
}

#contact form{
    float: right;
    margin-top: 15px;
}

#contact input{
    padding: 4px;
    height: 20px;
    width: 200px; 
}

/* Services */

#service-section{

    margin-top: 20px;
}
#service-section .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#service-section .box img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

/* Professional Afiliations */

#profession{
    border: 3px solid #1d5de8;
    background-color: rgb(71, 167, 188);
    margin: 0;
}
#prof-container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#profboxcontainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.box-prof{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.profimg{
    width: 200px;
    height: 200px;
}

aside{
    float: right;
    margin-top:10px ;
    width: 30%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
width: 90%;
padding: 5px;
}

article#maincol{
    float: left;
    width: 65%;

}

ul#services li{
    list-style: none;
    padding: 20px;
    border: gray solid 1px ;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer{
    border: 3px solid #1d5de8;
    padding: 20px;
    text-align: center;
    color: blue;
    margin: 0px;
    background-color: #47daa99a;
}


#admin-container {
    margin-top: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #ddd;
}

tr.completed {
    text-decoration: line-through;
    color: red;
}

#headerRow th {
    background-color: #333;
    color: white;
}

th:nth-child(1), td:nth-child(1) {
    width: 20%;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
}

th:nth-child(3), td:nth-child(3) {
    width: 50%;
}

th:nth-child(4), td:nth-child(4) {
    width: 10%;
}

.main-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    background-color: rgb(183, 213, 249);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    row-gap: 5px;
}

.login-container h2 {
    margin: 0 0 15px;
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 80%;
    height: 2em;

    padding: 2px;
    margin: 2px 0 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
    margin: 2px;
}

#form input{
    height: 2em;
    margin: 2px;

}

#login {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.fa-google-plus {
    padding-left: 5px;
    color: blue;
    font-size: 20px;
}

#googleBtn {
    width: 100%;
    padding: 10px;
    background-color: #283ba7;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
